/*** 

====================================================================
    Testimonial Section
====================================================================

***/

.testimonial-one {
  padding-bottom: 0;
  .left-content {
    border: 1px solid var(--border-color1-rgba);
    border-radius: 40px;
    margin-right: 50px;
    padding: 120px 0;
    @include media-breakpoint-down (xl){
      margin-bottom: 50px;
      margin-right: 0;
    }
    @include media-breakpoint-down (sm){
      padding: 0;
    }
    @media (max-width: 375.98px){
      border: none;
      margin: 0 0 30px;
    }
    .circle-box {
      margin: 0 auto;
      @media (max-width: 375.98px){
        width: 250px;
      }
    }
  }
  .slider-box {
    position: relative;
    .array-button {
      position: absolute;
      bottom: 10px;
      right: 0;
      z-index: 1;
      @include media-breakpoint-down (sm){
        gap: 10px;
        right: -30px;
      }
      @media (max-width: 375.98px){
        left: 0;
        position: relative;
        right: auto;
        top: 20px;
      }
    }
  }
}

.testimonial-block {
  .text {
    border-bottom: 1px solid var(--border-color1-rgba);
    font-size: 34px;
    font-weight: 300;
    line-height: 1.47;
    padding: 40px 0 45px;
    @include media-breakpoint-down (xl){
      font-size: 28px;
    }
    @include media-breakpoint-down (lg){
      font-size: 26px;
    }
    @include media-breakpoint-down (md){
      font-size: 24px;
    }
    @include media-breakpoint-down (sm){
      font-size: 20px;
      padding: 20px 0;
    }
  }
  .infu {
    @include flex;
    gap: 20px;
    padding-top: 60px;
    @include media-breakpoint-down (xl){
      padding-top: 30px;
    }
    .image {
      height: 60px;
      width: 60px;
      img {
        border-radius: 50%;
        @include imgw;
      }
    }
    .name{
      font-weight: 300;
    }
  }
}

.testimonial-two {
  position: relative;
  z-index: 1;
  .shape-1 {
    position: absolute;
    top: -150px;
    left: 0;
    @include media-breakpoint-down(xxxl) {
      display: none;
    }
  }
  .swiper-dot {
    @include flex;
    bottom: -20px;
    .swiper-pagination-bullet {
      width: 30%;
      height: 3.5px;
      background-color: var(--border-color1-rgba);
      margin-right: -4px;
      @include media-breakpoint-down (xxxl){
        width: 15%;
      }
    }
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
      background-color: var(--theme-color1);
    }
  }
  .array-button {
    position: absolute;
    top: 22%;
    right: 16%;
    .array-prev,
    .array-next {
      background: var(--theme-color-black);
      &:hover {
        background: var(--theme-color1);
      }
    }
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
  .swiper-btn {
    position: relative;
  }
  .num {
    span {
      position: absolute;
      color: var(--theme-color-white);
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px; /* 140% */
      letter-spacing: -0.2px;
      left: 0;
      &:nth-child(2) {
        left: auto;
        right: 0;
      }
    }
  }
  .slider-box {
    margin-left: 240px;
    margin-top: 60px;
    @include media-breakpoint-down(xl) {
      margin-left: 0px;
    }

    @include media-breakpoint-down(sm) {
      margin: 0;
    }
  }
  .inner {
    margin: 0 60px;
    border-radius: 40px;
    border: 1px solid var(--border-color2-rgba);
    @include media-breakpoint-down (xxxl){
      margin: 0 35px;
    }
    @include media-breakpoint-down (xxl){
      margin: 0 25px;
    }
    @include media-breakpoint-down (xl){
      margin: 0 15px;
      padding-left: 10px !important;
      padding-right: 10px !important;
    }
  }
}

.testimonial-block-two {
  position: relative;
  border: 1px solid var(--border-color2-rgba);
  background: var(--theme-color-black);
  padding: 50px 60px;
  border-radius: 40px;
  @include transition;
  z-index: 1;
  @media (max-width: 499.98px){
    padding: 50px 30px;
  }
  .star {
    color: var(--theme-color1);
  }
  .text {
    font-size: 20px;
    font-weight: 400;
    line-height: 38px;
    padding: 20px 0 40px;
  }
  .clints-info {
    @include flex-between;
    border-top: 1px solid var(--border-color2-rgba);
    padding-top: 30px;
    .image {
      height: 60px;
      position: relative;
      width: 60px;
      &::after {
        @include after;
        @include transformCenter;
        background-color: var(--theme-color1);
        border-radius: 50%;
        height: 70px;
        width: 70px;
        z-index: -1;
      }
      img {
        @include imgw;
        border-radius: 50%;
      }
    }
    .infu {
      @include flex;
      gap: 20px;
      @media (max-width: 375.98px){
        flex-wrap: wrap;
      }
    }
    .icon {
      font-size: 40px;
      color: var(--border-color2-rgba);
      @include transition;
    }
  }
  &:hover {
    background: radial-gradient(196.16% 133.29% at 100% 98.08%, #222b1c 0%, #0d0d0d 55.18%);
  }
  @include media-breakpoint-down(sm) {
    margin: 30px 0 0;
  }
  @media (max-width: 375.98px){
    padding: 40px 30px;
  }
}

.testimonial-three {
  overflow: hidden;
  position: relative;
  .light-shape-1 {
    @include transformCenterLeft;
    background: var(--theme-color1);
    border-radius: 50%;
    filter: blur(127px);
    height: 880px;
    opacity: 0.3;
    position: absolute;
    top: -65%;
    width: 1630px;
  }
  .shape-1 {
    margin-top: -23%;
    position: relative;
    @include transformCenterLeft;
    @include media-breakpoint-down(xxl) {
      display: none;
    }
  }
  .slider-box {
    position: relative;
    .array-button {
      @include media-breakpoint-down(md) {
        display: none;
      }
      .array-prev,
      .array-next {
        background: var(--theme-color3);
        bottom: -23%;
        position: absolute;
        right: 0;
        z-index: 1;
        &:hover {
          background: var(--theme-color1);
          border: none;
          color: var(--theme-color-black);
        }
      }
      .array-prev {
        left: 20%;
      }
      .array-next{
        right: 20%;
      }
    }
  }
}

.testimonial-block-three {
  text-align: center;
  .icon {
    color: var(--theme-color1);
    i {
      font-size: 60px;
    }
  }
  .tag {
    align-items: center;
    background-color: var(--theme-color3);
    border-radius: 40px;
    display: inline-flex;
    gap: 10px;
    line-height: 1;
    padding: 15px 20px;
    i {
      color: var(--theme-color1);
      font-size: 6px;
    }
    span {
      color: var(--theme-color-white);
      font-size: 24px;
      font-weight: 500;
      text-transform: capitalize;
      &:nth-child(3) {
        font-size: 16px;
        font-weight: 400;
        letter-spacing: -0.32px;
      }
    }
  }
  .text {
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    margin-top: 30px;
    text-align: center;
    @include media-breakpoint-down(xl) {
      font-size: 35px;
      line-height: 35px;
    }
    @include media-breakpoint-down(lg) {
      font-size: 28px;
      line-height: 35px;
    }
    @include media-breakpoint-down(md) {
      font-size: 25px;
      line-height: 35px;
    }
  }
}

.testimonial-thumbs-slider {
  @include flex-center;
  gap: 20px;
  margin: 80px auto 0;
  margin-top: 30px;
  width: 440px;
  .clients-image {
    border-radius: 50%;
    height: 80px;
    opacity: 0.4;
    overflow: hidden;
    width: 80px !important;
    @include transition;
    img {
      @include imgw;
    }
  }
  .swiper-slide.swiper-slide-active {
    .clients-image {
      opacity: 1;
    }
  }
}

.testimonial-four {
  position: relative;
  .light-marque {
    bottom: -80%;
    position: absolute;
    right: 0;
  }
  .light-shape {
    background: transparent;
    border: 70px solid var(--theme-color1);
    bottom: 8%;
    border-radius: 50%;
    filter: blur(125px);
    height: 500px;
    left: -22%;
    opacity: 0.65;
    position: absolute;
    width: 500px;
  }
  .rating {
    padding-top: 320px;
    @include media-breakpoint-down (xl){
      padding-top: 20px;
    }
    h2 {
      color: var(--theme-color1);
      font-size: 80px;
      font-weight: 500;
      line-height: 1;
      letter-spacing: -3.2px;
    }
    p {
      color: var(--theme-color-white);
    }
  }
  .image-wrap {
    position: relative;
    margin-right: 50px;
    @include media-breakpoint-down(xl) {
      margin: 0 0 40px;
    }
    @include media-breakpoint-down(md) {
      margin: 40px 0;
    }
    .image {
      width: 100%;
      height: 490px;
      img {
        @include imgw;
        border-radius: 40px;
      }
    }
    .content {
      width: max-content;
      position: absolute;
      bottom: 30px;
      @include transformCenterLeft;
      padding: 25px 37px 20px;
      display: inline-flex;
      flex-direction: column;
      border-radius: 70px;
      border: 1px solid rgba(255, 255, 255, 0.13);
      background: rgba(21, 21, 21, 0.1);
      backdrop-filter: blur(13.300000190734863px);
      span {
        color: var(--theme-color3);
      }
    }
  }
  .testimonial-slider {
    position: relative;
    .array-button {
      bottom: 35px;
      position: absolute;
      right: 55px;
      z-index: 1;
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }
}

.testimonial-block-four {
  background: var(--theme-color3);
  border: 1px solid var(--border-color2-rgba);
  border-radius: 40px;
  margin-top: 50px;
  padding: 25px 55px 30px 60px;
  position: relative;
  @include transition;
  z-index: 1;
  &::after {
    @include after;
    width: 4px;
    height: 175px;
    left: 0;
    top: 20px;
    background: var(--theme-color-white);
  }
  .head {
    @include flex-between;
    .icon {
      color: var(--border-color1-rgba);
      i {
        font-size: 35px;
      }
    }
  }
  .star {
    color: var(--theme-color1);
  }
  .text {
    padding: 0 0 20px;
  }
  .clints-info {
    @include flex-between;
    border-top: 1px solid var(--border-color2-rgba);
    padding-top: 20px;
    .image {
      height: 60px;
      position: relative;
      width: 60px;
      img {
        @include imgw;
        border-radius: 50%;
      }
    }
    .infu {
      @include flex;
      gap: 20px;
    }
  }
}

// Testimonial Section Home 5
.testimonial-section-5{
  position: relative;
  .outer-box{
    background-color: var(--theme-color3);
    border: 1px solid rgba(var(--theme-color-white-rgb), 0.13);
    border-bottom: none;
    border-radius: 30px 30px 0 0;
    padding: 120px 0px 140px;
    @include media-breakpoint-down(xxl){
      margin: 0 15px;
    }
    @include media-breakpoint-down(md){
      padding-bottom: 90px;
    }
    @include media-breakpoint-down(sm){
      background-color: transparent;
      border: none;
      margin: 0;
      padding: 40px 0 50px;
    }
    &.style-two{
      position: relative;
      margin: 0px 100px;
      @include media-breakpoint-down(xxl){
        margin: 0 15px;
      }
      .bg-image{
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top left;
      }
      .sec-title{
        margin-bottom: 60px;
        .text{
          margin-left: 0;
        }
      }
      .review-box-2{
        position: relative;
        text-align: center;
        padding: 35px 80px 40px;
        border-radius: 20px;
        background-color: var(--text-color-theme-color1);
        @include media-breakpoint-down(xxl){
          padding: 50px 30px;
        }
        .title{
          font-weight: 600;
          font-size: 120px;
          line-height: 100%;
          margin-bottom: 15px;
          @include responsive-font(50px, 7vw, 120px, 1.2);
        }
        .rating{
          padding-bottom: 15px;
          margin-bottom: 30px;
          justify-content: center;
          border-bottom: 1px solid #FFFFFF26;
        }
        .reviews-list{
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 40px;
        }
      }
      .testimonial-block{
        .inner-box{
          @include media-breakpoint-down(md){
            padding: 0;
          }
        }
      }
    }  
    .sec-title{
      margin-bottom: 40px;
      .text{
        margin-left: 40px;
        @include media-breakpoint-down(lg){
          margin-left: 0px;
        }
      }
    }
  }  
  .testimonial-swiper-one{
    border-radius: 20px;
    overflow: hidden;
    padding: 10px;
    position: relative;
    @include media-breakpoint-down(lg){
      margin-bottom: 40px;
    }
    @include media-breakpoint-down(sm){
      padding: 0;
    }
    &:before{
      background: linear-gradient(180deg, #88FF2A 0%, rgba(0, 0, 0, 0) 100%);
      content: "";
      height: 100%;
      left: 0;
      right: 0;
      position: absolute;
      top: 0;
    }
  }
  .review-box{
    position: relative;
    padding-top: 70px;
    padding-left: 68px;
    max-width: 375px;
    @include media-breakpoint-down(lg){
      margin-bottom: 40px;
      padding: 0;
    }
    .bg-shape1{
      position: absolute;
      top: 10px;
      left: 0;
      @include media-breakpoint-down(lg){
        display: none;
      }
    }
    .title{
      color: var(--theme-color-white);
      font-weight: 600;
      font-size: 120px;
      line-height: 100%;
      margin-bottom: 30px;
      [data-tm-layout="lemon"] & {
        color: var(--theme-color-dark);
      }
    }
    .text{
      color: rgba(var(--theme-color-white-rgb), 0.6);
      letter-spacing: -0.02em;
    }
  }
  .rating{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 20px;
    .icon {
      color: var(--theme-color1);
      font-size: 25px;
      @include media-breakpoint-down(sm){
        font-size: 14px;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

// Testimonial Arry Home 5
.testimonial-arry{
  align-items: center;
  bottom: 90px;
  display: flex;
  gap: 20px;
  position: absolute;
  right: 70px;
  z-index: 99;
  @include media-breakpoint-down(sm){
    display: none;
  }
  &-prev {
    background: var(--theme-color-dark);
    border-radius: 50%;
    color: var(--theme-color-white);
    font-size: 16px;
    height: 48px;
    line-height: 48px;
    position: relative;
    text-align: center;
    @include transition;
    width: 48px;
    &:hover {
      background-color: var(--theme-color1);
      color: var(--theme-color-dark);
    }
  }
  &-next {
    background: var(--theme-color-dark);
    border-radius: 50%;
    color: var(--theme-color-white);
    font-size: 16px;
    height: 48px;
    left: unset;
    line-height: 48px;
    position: relative;
    right: 0;
    text-align: center;
    @include transition;
    width: 48px;
    &:hover {
      background-color: var(--theme-color1);
      color: var(--theme-color-dark);
    }
  }
}

// Testimonial Block Home 5
.testimonial-block5 {
  position: relative;
  z-index: 1;
  border-radius: 20px;
  border-radius: 20px;
  background-color: var(--theme-color2);
  .inner-box {
    position: relative;
    z-index: 9;
    padding: 55px 75px 60px 60px;
    @include media-breakpoint-down(lg){
      padding: 55px 50px 30px;
    }
    @include media-breakpoint-down(sm){
      padding: 30px;
    }
    .quote-icon{
      position: absolute;
      top: 25px;
      left: 45px;
      z-index: -1;
    }
    .text {
      color: rgba(var(--theme-color-white-rgb), 0.6);
      font-family: var(--heading-font-family);
      font-weight: 500;
      font-size: 20px;
      @include media-breakpoint-down(sm){
        line-height: 1.3;
      }
    }
    .info-box {
      display: flex;
      align-items: center;
      gap: 25px;
      margin-top: 20px;
      .user-thumb {
        max-width: 75px;
        border-radius: 50%;
        padding: 3px;
        border: 2px solid #FFAA17;
        .user{
          max-width: 65px;
          border-radius: 50%;
          border: 5px solid var(--theme-color-white);
        }
      }
      .name {
        color: var(--theme-color-white);
        [data-tm-layout="lemon"] & {
          color: var(--theme-color-dark);
        }
        font-size: 18px;
        font-weight: 400;
        text-transform: capitalize;
        margin-bottom: 5px;
      }
      .designation {
        font-size: 12px;
        font-weight: 400;
        color: var(--theme-color6);
        text-transform: uppercase;
        display: block;
      }
    }
  }  
}

