/*** 

====================================================================
    Work Section
====================================================================

***/

.work-one {
  .cards-content {
    border-bottom: 1px solid var(--border-color1-rgba);
    margin-top: 90px;
    padding-bottom: 120px;
    @include media-breakpoint-down (sm){
      padding-bottom: 30px;
    }
  }
}

.work-block {
  margin-bottom: 50px;
  margin-top: 70px;
  position: relative;
  text-align: center;
  z-index: 1;
  &:before{
    background-color: rgba(var(--theme-color-white-rgb), 0.2);
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: -71px;
    width: calc(100% + 24px);
    @include media-breakpoint-down (xl){
      width: calc(100% + 0px);
    }
  }
  &::after {
    background-color: var(--border-color1-rgba);
    height: 70px;
    @include after;
    top: -70px;
    width: 1px;
    @include transformCenterLeft;
    z-index: -1;
  }
  .step-btn {
    background-color: var(--theme-color-black);
    border-radius: 40px;
    color: var(--theme-color-white);
    padding: 5px 20px;
    position: absolute;
    rotate: -30deg;
    text-align: center;
    top: -111px;
    @include transformCenterLeft;
    @include transition;
    @include media-breakpoint-down (xl){
      rotate: 0deg;
      top: -90px;
    }
  }
  .inner-box{
    background-color: var(--theme-color-black);
    border: 1px solid var(--theme-color1-border);
    border-radius: 30px;
    overflow: hidden;
    padding: 35px 35px 60px;
    position: relative;
    @include transition;
    &:before{
      background-color: #111111;
      bottom: auto;
      content: "";
      clip-path: polygon(382.68px 38.3898px, 382.68px 38.3898px, 337.615016px 41.5418496px, 302.562088px 50.0974128px, 275.598252px 62.7056112px, 254.800544px 78.0155664px, 238.246px 94.6764px, 224.011656px 111.3372336px, 210.174548px 126.6471888px, 194.811712px 139.2553872px, 176.000184px 147.8109504px, 151.817px 150.963px, 151.817px 150.963px, 125.9586136px 147.8109504px, 105.6682488px 139.2553872px, 89.0888972px 126.6471888px, 74.3635504px 111.3372336px, 59.6352px 94.6764px, 43.0468376px 78.0155664px, 22.7414548px 62.7056112px, -3.1379568px 50.0974128px, -36.4484056px 41.5418496px, -79.0469px 38.3898px, -79.0469px 38.3898px, -76.0252837px 24.80746688px, -67.2773136px 11.92290544px, -53.2783079px -0.091483440000007px, -34.5035848px -11.06329888px, -11.4284625px -20.82014px, 15.4717408px -29.18960592px, 45.7217069px -35.99929576px, 78.8461176px -41.07680864px, 114.3696547px -44.24974368px, 151.817px -45.3457px, 151.817px -45.3457px, 189.26415px -44.24974368px, 224.78752px -41.07680864px, 257.91179px -35.99929576px, 288.16164px -29.18960592px, 315.06175px -20.82014px, 338.1368px -11.06329888px, 356.91147px -0.091483440000005px, 370.91044px 11.92290544px, 379.65839px 24.80746688px, 382.68px 38.3898px);
      height: 151px;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      width:100%;
      z-index: 0;
      @media (max-width: 767.98px){
        clip-path: none;
      }
    }
  }
  .icon {
    color: var(--theme-color1);
    position: relative;
    z-index: 0;
    i {
      font-size: 60px;
      -webkit-transition: all 900ms ease;
      transition: all 900ms ease;
      display: inline-block;
    }
  }
  .title {
    color: var(--theme-color-white);
    padding: 100px 0 15px;
    @include transition;
  }
  &:hover {
    .step-btn {
      background-color: var(--theme-color1);
      color: var(--theme-color-black);
    }
    .icon {
      i {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
      }
    }
  }
}

.work-two {
  position: relative;
  z-index: 1;
  .light-shape {
    position: absolute;
    width: 720px;
    height: 720px;
    border-radius: 50%;
    opacity: 0.2;
    left: -22%;
    top: 70%;
    background: transparent;
    border: 90px solid var(--theme-color1);
    filter: blur(125px);
  }
  .shape-1 {
    position: absolute;
    bottom: -32%;
    left: 0;
    @include media-breakpoint-down(xxxl) {
      display: none;
    }
  }
  .shape-2 {
    position: absolute;
    bottom: 0;
    @include media-breakpoint-down(xxxl) {
      display: none;
    }
  }
  .section-title-area {
    padding-bottom: 30px;
    padding-right: 100px;
    @media (max-width: 499.98px){
      padding-right: 0px;
    }
    .text {
      max-width: 540px;
    }
  }
  .step-btn-inner {
    position: relative;
    margin-top: 160px;
    @include media-breakpoint-down(lg) {
      margin: 60px;
    }
    @include media-breakpoint-down(md) {
      margin: 60px auto;
    }
  }
  .step-btn {
    position: relative;
    @include icon;
    flex-direction: column;
    width: 455px;
    height: 455px;
    background-color: var(--theme-color2);
    border: 17px solid var(--theme-color1);
    @include media-breakpoint-down(xl) {
      width: 350px;
      height: 350px;
      border: 5px solid $theme-color1;
    }
    span {
      color: var(--theme-color-white);
      font-size: 24px;
      font-weight: 500;
      text-transform: capitalize;
      &:nth-child(2) {
        color: var(--theme-color-white);
        font-size: 50px;
        font-weight: 500;
        line-height: 1;
        letter-spacing: -1.5px;
      }
    }
  }
  .cards-content {
    position: relative;
    border-left: 1px solid rgba(217, 217, 217, 0.14);
    margin-left: 22px;
    padding-left: 90px;
    @include media-breakpoint-down(xl) {
      padding-left: 40px;
    }
    @include media-breakpoint-down(lg) {
      padding-left: 0;
      margin-left: 0;
      border: 0;
    }
  }
}

.work-block-two {
  position: relative;
  padding: 50px 60px 40px;
  margin-top: 20px;
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.13);
  background: var(--theme-color-black);
    // @include transition;
    @include media-breakpoint-down(xl) {
      padding: 50px 40px 40px;
    }
    &::after {
      @include after;
      width: 1px;
      background: var(--theme-color1);
      opacity: 0;
      @include transition;
      left: -92px;
    }
    .head {
      @include flex-between;
      align-items: start;
      flex-wrap: wrap;

      @include media-breakpoint-down(sm) {
        align-items: center;
      }
      .image {
        width: 150px;
        height: 150px;
        img {
          @include imgw;
          border-radius: 50%;
        }
      }
      .num {
        font-size: 120px;
        font-weight: 500;
        line-height: 1;
        background: linear-gradient(0deg, rgba(21, 21, 21, 0.2) 5.71%, rgba(136, 255, 42, 0.2) 99.78%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @include media-breakpoint-down(sm) {
          font-size: 90px;
        }
      }
    }
    .content {
      padding-top: 40px;
      .title {
        padding-bottom: 10px;
      }
      .list {
        @include flex;
        gap: 20px;
        flex-wrap: wrap;
        padding-top: 20px;
        li {
          color: var(--theme-color-white);
          font-weight: 400;
          letter-spacing: -0.32px;
          i {
            color: var(--theme-color1);
            padding-right: 10px;
          }
        }
      }
    }
    &:hover {
      background: radial-gradient(196.16% 133.29% at 100% 98.08%, #222b1c 0%, #151515 55.18%);
      &::after {
        opacity: 1;
      }
    }
  }

  .work-three {
    position: relative;
    z-index: 1;
    .light-shape {
      position: absolute;
      width: 500px;
      height: 500px;
      border-radius: 50%;
      opacity: 0.65;
      right: -18%;
      bottom: -5%;
      background: transparent;
      border: 60px solid var(--theme-color1);
      z-index: -1;
      filter: blur(125px);
    }
    .cards-content {
      position: relative;
      padding-bottom: 40px;
      &::after {
        @include after;
        width: 1px;
        background-color: var(--border-color2-rgba);
        left: 35px;
        z-index: -1;
      }
    }
    .image-content {
      position: relative;
      @include media-breakpoint-down (lg){
        margin-bottom: 50px;
      }
      .image {
        width: 650px;
        height: 545px;
        @include media-breakpoint-down(xl) {
          width: 100%;
        }
        @include media-breakpoint-down(md){
          display: none;
        }
        @include media-breakpoint-down (lg){
          height: auto;
          img {
            object-fit: cover;
          }
        }
        img {
          @include imgw;
          border-radius: 40px;
        }
      }
    }
    .content-card {
      position: absolute;
      bottom: -30px;
      right: 55px;
      max-width: 560px;
      padding: 60px 90px 50px 60px;
      border-radius: 40px;
      border: 1px solid rgba(255, 255, 255, 0.13);
      background: radial-gradient(196.16% 133.29% at 100% 98.08%, #222b1c 0%, #151515 55.18%);
      @include media-breakpoint-down(xl) {
        padding: 60px 40px 50px 40px;
        bottom: -60px;
      }
      @include media-breakpoint-down(lg) {
        bottom: -0;
        right: 0;
      }
      .icon {
        color: var(--theme-color1);
        i {
          font-size: 70px;
        }
      }
      .text {
        padding: 30px 0;
      }
      .tag {
        @include flex;
        gap: 20px;
        flex-wrap: wrap;
        span {
          letter-spacing: -0.32px;
          font-weight: 400;
          color: var(--theme-color-white);
          i {
            color: var(--theme-color1);
            padding-right: 10px;
          }
        }
      }
    }
  }

  .work-block-three {
    @include flex;
    gap: 65px;
    border-bottom: 1px solid var(--border-color2-rgba);
    margin-left: 35px;
    padding: 30px 0;

    @include media-breakpoint-down (xl){
      gap: 30px;

      .title {
        font-size: 25px;
      }
      
    }

    .num {
      @include icon;
      width: 70px;
      height: 70px;
      margin-left: -35px;
      background-color: var(--theme-color-black);
      border: 1px solid var(--border-color2-rgba);
      @include transition;
    }
    &:hover {
      .num {
        background-color: var(--theme-color1);
        color: var(--theme-color3);
      }
    }
  }
